<h1>Your Cart</h1>

<% @products.each do |product| %>
  <div>

    <h3><%= product.name %></h3>
    <p>Price: $<%= product.price %></p>

    <!-- 数量 -->
    <%= form_with url: update_cart_path(product), method: :patch do %>
      <%= number_field_tag :quantity, session[:cart][product.id.to_s] %>
      <%= submit_tag "Update" %>
    <% end %>

    <!-- 删除 -->
    <%= button_to "Remove", remove_cart_path(product), method: :delete %>

  </div>
<% end %>