<h1><%= @product.name %></h1>

<!-- 显示大图 -->
<% if @product.image.attached? %>
  <%= image_tag @product.image, width: 300 %>
<% end %>

<p><%= @product.description %></p>

<p>Price: $<%= @product.price %></p>

<p>
  Categories:
  <% @product.categories.each do |category| %>
    <%# use link_to to generate a link to the category page %>
    <%= link_to category.name, category_path(category), class: "category-link" %>
  <% end %>
</p>